<div class = 'border-bottom row' style='margin-bottom: 16px; padding-bottom: 8px;'>
  <div class = 'col-10'>
    <h4 style='color:rgb(120,120,120); margin-bottom:4px;'>
      Live Detection
    </h4>
    <div>
      Use Your Webcam to Detect
    </div>
    <div>
      <br>
      <a href="mailto:fiqkiamrulloh@gmail.com?subject=Job%20Application%20for%20{{job['title']}}&body=My%20Name%3A%20%3Cname%3E%0D%0AResume%20Link%3A%20%3CLink%20Resume%3E%0D%0ALinkedIn%20Link%3A%20%3CLink%20Linkedin%3E" type="button" class="btn btn-outline-primary">Start</a>
    </div>
    {% endif %}
  </div>
  <div class='col-2'>
    <a href="mailto:fiqkiamrulloh@gmail.com?subject=Job%20Application%20for%20{{job['title']}}&body=My%20Name%3A%20%3Cname%3E%0D%0AResume%20Link%3A%20%3CLink%20Resume%3E%0D%0ALinkedIn%20Link%3A%20%3CLink%20Linkedin%3E" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>